html {
    --bg-color: #dddddd;
    --primary: orange;
    --secondary: purple;
    --color: black;
    --shadow: #bbbbbb;
    --light: #ffffff;
    --inversion: 0%;
    background: var(--bg-color);
    color: var(--color);
}

html, body {
    margin: 0;
}

.unpressed {
    box-shadow:  0.6em 0.6em 1.2em var(--shadow),
             -0.6em -0.6em 1.2em var(--light);
}

.pressed {
    box-shadow:  inset 0.6em 0.6em 1.2em var(--shadow),
             inset -0.6em -0.6em 1.2em var(--light);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.bar {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2em;
}

.bar > .filler {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    padding-left: min(2em, (100vw - 24em)/2);
    padding-right: min(2em, (100vw - 24em)/2);
}

.bar > .filler > .horizontal_groove {
    height: 1em;
    width: 100%;
    border-radius: 1em;
    background: var(--bg-color);
}

.bar > button {
    display: inline-flex;
    width: 4em;
    height: 4em;
    margin: 1em;
    border: 0;
    padding: 0;
    z-index: 1;
    border-radius: 50%;
}

.bar > button.unpressed::before {
    content: "";
    position: relative;
    margin-right: -100%;
    left: -25%;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(145deg, var(--shadow), var(--light));
    opacity: 0;
    transition: opacity 0.5s ease;
}

.bar > button.unpressed:hover::before {
    opacity: 1;
}

.icon {     /*icons in the top buttons (language and theme)*/
    z-index: 1;
    width: 50%;
    height: 50%;
    filter: brightness(90%);
}

.toinvert {
    filter: invert(var(--inversion));
}

.slice {    /*contains the photo and the title*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex: .2 1 20em;
    height: 30em;
    margin: 1em 1em -2em 1em;
    border-radius: 3em;
    overflow: hidden;
}

.card > img {
    width: 100%;
    filter: drop-shadow(3em 3em 3em var(--shadow)) drop-shadow(-3em -3em 3em var(--light));
}

.description {
    color: var(--color);
    font-family: "Zain";
    font-size: max(10vw, 6rem);
    margin: min(3rem,1vw);
    margin-top: 6rem;
    justify-content: center;
    flex: 0 0 10ch;
    background: linear-gradient(45deg, var(--primary),var(--secondary));
    background-clip: text;
    transform: rotate(-15deg);
}

.description > h2 {
    font-weight: lighter;
    font-size: .3em;
    margin-bottom: 0;
    color: transparent;
}

.description > h1 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
    line-height: .75em;
    /*filter: drop-shadow(-.01em -.01em 0.02em white)
            drop-shadow(.01em .01em .02em black);*/    /*tried to add depth to the text, but incompatible with the gradient on the text*/
    color: transparent;
}

.name {
    margin-left: 1.75em;
}

.line1 {
    margin-left: .25em;
}

.selector {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 7em 0 4em 0;
}

.selector > button {
    height: 4em;
    border-radius: 10em;
    border: 0;
    padding: 0;
}

.selector > button > p {
    font-family: "Zain";
    color: var(--color);
    font-size: 2em;
    margin: 0 .7em 0 .7em;
    line-height: 1em;
    z-index: 1;
}

.selector > button::before {
    content: "";
    position: relative;
    background: linear-gradient(145deg, var(--shadow), var(--light));
    width: 100%;
    height: 100%;
    margin-right: -100%;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.selector > button.unpressed:hover::before {
    opacity: 1;
}

.selector > .spacer {
    flex: 1 1 0;
}

.selector > .inner_spacer {
    flex: .3 .3 0;
}

.content {  /*contains the actual information about myself*/
    width: calc(100% - 1em);
    display: flex;
    justify-content: center;
    color: var(--color);
    font-family: "Zain";
    font-weight: 300;
    font-size: 1.5em;
    text-align: justify;
    margin: .5em;
}

.content > .whoami {
    max-width: 65ch;
    padding: 1em;
    border-radius: 1em;
}

.content > .studies {
    display: flex;
    justify-content: space-around;
    flex: 0 1 30em;
}

.studies > .vertical_groove {
    border-radius: 1em;
    background-color: var(--bg-color);
    margin-right: 1em;
    flex: 0 0 1em;
}

.studies > .chronology {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 1 1 65ch;
}

.chronology > li::before {
    content: "";
    display: inline-block;
    border-radius: 100%;
    position: relative;
    top: 1.66em;
    left: -1.9em;
    width: .8em;
    height: .8em;
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    box-shadow: inset -0.1em -0.1em .2em var(--shadow),
             inset 0.1em 0.1em .2em var(--light),
             0.1em 0.1em .2em var(--shadow);
}

.chronology > li > h3 {
    margin: 0;
    position: relative;
    top: 0;
}

.chronology > li > p {
    margin: 0;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    width: min(34em,100%);
}

.projects > .project {
    background-color: var(--bg-color);
    border-radius: 2em;
    color: var(--color);
    text-decoration: none;
    width: 9em;
    height: 10em;
    padding: 1em .5em 1em .5em;
    transition: box-shadow 1s -0.3s cubic-bezier(.77,.14,.25,.92);  /*custom transition that starts .3 seconds in, thus lasting 1s - 0.3s = 0.7s*/
    outline: 1px inset rgba(0, 0, 0, 0.113);
}

.project:hover {
    box-shadow:  0.6em 0.6em 1.2em var(--shadow),
             -0.6em -0.6em 1.2em var(--light);
    outline: none;
}

.project:focus {
    box-shadow:  0.6em 0.6em 1.2em var(--shadow),
             -0.6em -0.6em 1.2em var(--light);
    outline: none;
}

.project > h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: .5em;
    background: linear-gradient(30deg, var(--primary), var(--secondary));
    background-clip: text;
    color: transparent;
}

.project > p {
    margin-top: 0;
    line-height: 1em;
    font-weight: 200;
    font-size: .9em;
}